// This file must be encoded with UTF-8 (e.g. with Windows Notepad)
// Filename is 'strings_%languagecode%.txt' where %languagecode% is the ISO 639 language code e.g. 'zh' for Chinese
// Format is: English string<tab>Translated string<newline>
//Translation Info
//Translator:风逸兰

360AblumViewer	360看图
Contrast	对比度
Brightness	亮度
Sharpen	增加清晰度
Lighten Shadows	浅阴影
Darken Highlights	加深亮度
Deep Shadows	深阴影
Color Correction	色彩校正
Contrast Correction	对比度校正
Parameter DB:	配置文件:
Save to	保存为
Remove from	移除
Rename:	重命名:
No file or folder name was provided as command line parameter!	没有文件或文件夹设置了命令行参数!
To use 360AblumViewer, associate JPG, JPEG and BMP files with 360AblumViewer.	要使用360看图请将 JPG, JPEG, BMP 文件与360看图关联。
Press ESC to exit...	按下 ESC 结束...
The file '%s' could not be read!	文件 '%s' 读取失败!
The file '%s' does not contain a list of file names!	文件 '%s' 没有设定名称!
The directory '%s' does not contain any image files!	目录 '%s' 找不到图片文件!
Press any key to search the subdirectories for image files.	按下任意按键来搜寻子文件夹中的图片文件。
360AblumViewer Help	360看图 说明
Current image	当前图片
Close help text display / Close 360AblumViewer	关闭说明文字显示 / 关闭 360看图
Show/hide this help text	显示/隐藏说明文字
Show/hide picture information (EXIF data)	显示/隐藏图片信息 (EXIF 信息)
Show/hide file name	显示/隐藏文件名称
Enable/disable high quality resampling	启用/停用高品质的重新取样
Enable/disable keeping of geometry related (zoom/pan/rotation)	启用/停用保持几何相关 (缩放/平移/旋转)
and image processing (brightness/contrast/sharpen) parameters between images	和图片之间的图片处理参数 (亮度/对比度/增加清晰度)
Enable/disable automatic contrast correction (histogram equalization)	启用/停用自动对比度校正 (曲线图均衡化)
Apply auto contrast correction using only visible section of image	仅可见部份图片套用自动对比度校正
Enable/disable automatic density correction (local brightness correction)	启用/停用自动的密度校正 (局部亮度校正)
Increase/decrease lightening of shadows (LDC must be on)	增加/减少阴影的亮度 (局部密度补偿必须打开)
Increase/decrease darkening of highlights (LDC must be on)	增加/减少亮点的暗度 (局部密度补偿必须打开)
Loop through files in current folder	遍历当前文件夹中的文件
Loop through files in current directory and all subfolders	遍历当前目录和所有子文件夹中的文件
Loop through files in current directory and all sibling folders (folders on same level)	遍历当前目录和所有同级文件夹中的文件 (在同一层级上的文件夹)
Maximize/restore to/from virtual desktop (only for multi-monitor systems)	最大化/还原到/从虚拟桌面 (仅适用于多显示器系统)
Copy screen to clipboard/ Copy processed full size image to clipboard	复制屏幕到剪贴板/复制处理的原图到剪贴板
Open new image or slideshow file	打开新的图片或幻灯片文件
Save processed image to JPEG file (original size)	保存处理后的图片为 JPEG 文件 (原始大小)
Save (%s)/ delete (%s) image processing parameters in/from parameter DB	保存 (%s)/ 删除 (%s) 图片处理参数在/从配置文件
Sort images by creation date, resp. modification date, resp. file name	依据创建时间、修改时间、文件名称排序
Goto previous image	转到上一张图片
Goto next image	 转到下一张图片
PgUp or Left	PgUp 或 Left
PgDn or Right	PgDn 或 Right
Goto first/last image of current folder (using sort order as defined)	转到当前文件夹的第一张/最后一张图片 (使用所定义的排序顺序)
Increase/decrease brightness	增加/减少亮度
Increase/decrease contrast	增加/减少对比度
Increase/decrease sharpness	增加/减小锐度
Increase/decrease auto color cast correction amount	增加/减少自动肤色的校正量
Increase/decrease auto contrast correction amount	增加/减少自动对比度的校正量
Enable/disable landscape picture enhancement mode	启用/停用景观图片增强模式
Slide show with timeout of n seconds (ESC to stop)	n 秒间隔放映幻灯片 (ESC 停止)
Set timeout to n/10 sec, respectively n/100 sec (Ctrl+Shift)	设置间隔为 n/10 秒，分别为 n/100 秒 (Ctrl + Shift)
Rotate image and fit to screen	旋转并调整窗口大小
Fit image to screen	按窗口大小显示
Zoom 1:1 (100 %)	1:1 缩放 (100%)
Zoom in (%s)/Zoom out (%s)	放大 (%s)/缩小 (%s)
Zoom in/out image	放大/缩小图片
Zoom in	放大
Zoom out	缩小
Pan image	移动图片
Crop image	裁剪图片
Next image	下一张
Previous image	上一张
up/down	向上/向下
Mouse wheel	鼠标滚轮
Left mouse & drag	鼠标左键并拖动
Ctrl + Left mouse	按住 Ctrl + 鼠标左键
Forward mouse button	向前滚动鼠标滚轮
Back mouse button	向后滚动鼠标滚轮
Delete current file on disk permanently	从硬盘永久删除当前文件
Rotate current file on disk lossless by 90 deg (W/H must be multiple of 16)	在硬盘上无损旋转当前文件 90 度 (宽度/高度必须是 16 的倍数)
Rotate current file on disk lossless by 270 deg (W/H must be multiple of 16)	在硬盘上无损旋转当前文件 270 度 (宽度/高度必须是 16 的倍数)
The file is read-only!	唯读文件!
Can't rename file	不能重命名文件
New name contains backslash character!	新名称中包含反斜杠字符!
Renaming file failed!	重命名失败!
Reason: 	原因: 
on	打开
off	关闭
Do you really want to save the following parameters as default to the INI file	确定要保存这些参数为默认的 INI 文件?
Auto contrast and color correction: 	自动对比度和色彩校正:
Local density correction: 	局部密度校正: 
Order files by: 	排序方式: 
Creation date/time	创建时间
Last modification date/time	修改时间
File name	文件名称
These values will override the values from the INI file located in the program folder of 360AblumViewer!	这些值将覆写 360看图图 程序文件夹中 INI 文件的值!
Confirm save default parameters	确认保存默认参数
Images	图片
All Files	所有文件
Parameter DB file '%s' could not be opened!	不能打开配置文件 '%s'!
Parameter DB file '%s' is not valid (invalid header)!	配置文件档案'%s' 无效 (无效的头部)!
Cannot write to parameter DB file '%s'!	不能写入到配置文件 '%s'!
Cannot read from parameter DB file '%s'!	不能读取配置文件 '%s'!
Cannot read parameter DB file '%s' because it is too large!	配置文件 '%s' 过大，不能读取!
The parameter DB file '%s' has been created by a newer version of 360AblumViewer!	较新版本的 360看图 已建立配置文件 '%s'!
The old parameter DB file '%s' could not be renamed during conversion to new format!	转化格式时不能重命名配置文件 '%s'!
Parameter DB error	配置文件错误
Error saving file	保存文件错误
Error writing file to disk!	保存文件错误!
Confirm	操作确认提示
Do you really want to permanently delete the file %filename%?	确定永久删除文件 %filename% 吗?
Rotate the following file lossless by 90 deg?\n%filename%	确定对这些图片无损旋转 90 度吗?\n%filename%
Rotate the following file lossless by 270 deg?\n%filename%	确定对这些图片无损旋转 270 度吗?\n%filename%
Open image...	打开...
Save processed image...	保存...
Reload image	重新载入
Copy to clipboard	复制
Copy original size image	按原始大小复制
Paste from clipboard	粘贴
Batch rename/copy...	批量重命名/复制...
Show picture info (EXIF)	显示图片信息 (EXIF)
Show filename	显示文件名称
Navigation	导航
Loop folder	循环文件夹
Loop recursively	递归循环
Loop siblings	同步循环
Display order	显示顺序
Modification date	修改时间
Creation date	创建时间
Play folder as slideshow/movie	播放文件夹
Slideshow	播放幻灯片
Movie	影片
Waiting time	等待时间
Stop slide show/movie	停止播放
Rotate +90	顺时针旋转 90°
Rotate -90	逆时针旋转 90°
Rotate 180      旋转 180°
Auto correction	自动校正
Local density correction	局部密度校正
Keep parameters	保持参数
Set current parameters as default values...	设为默认参数...
Save parameters to DB	保存到数据库
Clear parameters from DB	从数据库清除
Zoom	缩放
Fit to screen	适合屏幕
Fill with crop	用裁剪来填充
Span all screens	缩放为窗口大小
Auto zoom mode	自动缩放模式
Fit to screen (no zoom)	适合屏幕 (无缩放)
Fill with crop (no zoom)	用裁剪来填充 (无缩放)
Exit	退出
Cyan-Red	青蓝-红色
Magenta-Green	品红-绿色
Yellow-Blue	黄色-蓝色
C - R	青蓝 - 红
M - G	品红 - 绿
Y - B	黄色 - 蓝
Batch rename/copy of files	批量重命名/复制文件
Image files in folder	在文件夹中的图片文件
Placeholders:	标识:
Number (consecutively numbered)	序号 (连续序号)
Number with N digits	用 N 位数序号
Extracted number from original file name	从原文件中获取序号
Original file name (with extension)	原文件名称 (含后缀名)
Original file name (without extension)	原文件名称 (不含后缀名)
Original file extension	原文件后缀名
'My Pictures' folder	“我的图片”文件夹
Day / Month / Year (as numbers)	日/月/年 (同序号)
Year short form (2 digits)	年份缩写 (2 位数)
Month / Short form (text)	月份/缩写 (文字)
Target folders that are not yet existing are created as needed.	文件夹不存在。
Date placeholders use the modification date of the image.	日期的标识使用图片的修改时间。
Rename/copy images to:	重命名/复制图片到:
Rename	重命名
Preview	预览
Save as template	另存为副本
Close	关闭
Old name	旧的名称
Date	日期
New name (>> : file gets copied)	新的名称(>> : 文件将被复制)
Select all	全部选择
Select none	取消选择
The file '%s' could not be %s.	文件 '%s' 不能为 %s。
copied	已复制
renamed	已重命名
Continue rename/copy?	是否继续重命名/复制?
Error during rename/copy	重命名/复制过程中发生错误
%d file(s) renamed, %d file(s) copied, %d folder(s) created	已重命名 %d 个文件，已复制 %d 个文件，已建立 %d 个文件夹
Crop Selection	裁剪所选区域
Copy Selection to Clipboard	复制
Zoom to Selection	缩放所选区域
Pasting image from clipboard failed!	从剪贴板贴上图片失败!
Image width:	图片宽度:
Image height:	图片高度:
Acquisition date:	拍摄日期:
Camera model:	相机型号:
Exposure time (s):	曝光时间 (秒):
Exposure bias (EV):	曝光补偿 (EV):
Flash fired:	闪光灯:
Focal length (mm):	焦距 (mm):
F-Number:	F 值:
ISO Speed:	ISO 感光度:
Modification date:	修改时间:
yes	是
no	否
Show navigation panel	显示导航面板
Show/hide navigation panel	显示/隐藏导航面板
About 360AblumViewer...	关于 360看图...
SIMD mode used:	SIMD 模式下使用:
Number of CPU cores used:	CPU 核心数:
//Licensed under the GNU general public license (GPL), see readme file for details:	基于 GNU General Public License (GPL) 授权，请参阅自述文件的详细资讯:
Project home page:	360看图首页:
Show first image in folder	第一张
Show previous image	上一张
Show next image	下一张
Show last image in folder	最后一张
Rotate image 90 deg clockwise	顺时针旋转 90 度
Rotate image 90 deg counter-clockwise	逆时针旋转 90 度
Landscape picture enhancement mode	景观图片增强模式
Display image (EXIF) information	显示图片信息 (EXIF)
Actual size of image	原图尺寸
Toggle between screens (only for multi-monitor systems)	屏幕之间切换 (仅适用于多显示器系统)
Enable/disable full screen mode	进入/退出全屏模式
Full screen mode	全屏模式
Window mode	视窗模式
Save as (in screen size/resolution)	另存为 (在屏幕大小/解析度)
Save processed image to JPEG file (screen size)	保存处理后的图片为 JPEG 文件 (屏幕大小)
Settings/Admin	设置/管理
Edit global settings...	编辑全局设置...
Edit user settings...	编辑用户设置...
Backup parameter DB...	备份配置文件...
Restore parameter DB...	还原配置文件...
No user INI file exits yet. Create user INI file from INI file template?	尚无用户 INI 文件。是否从 INI 文件副本来建立用户 INI 文件?
Copying parameter DB to file '%s' failed. Reason: %s	复制配置文件到文件 '%s' 失败。原因: %s
Select parameter DB to restore	选择要还原的配置文件
Conflicting entries in Param DB	 配置文件中的项目冲突
The imported param DB contains entries already present in active param DB.	汇入的配置文件包含已经存在于作用中配置文件的项目。
Shall existing entries be preserved (Yes) or be overriden by the imported entries (No)?	您想要保留现有项目 (是) 或是以汇入的项目覆写现有项目 (否)?
Select file to display in 'File Open' dialog	选择要在“文件打开”对话框中显示的文件
Crop Mode	裁切模式
Free	自由
Fixed size...	固定大小...
Set Fixed Crop Size	设置固定裁剪尺寸
Width	宽度
Height	高度
Pixels	像素
Screen Pixels	屏幕像素
Image Pixels	图片像素
Set modification date	设置修改时间
to current date	为当前日期
to EXIF date	为 EXIF 日期
Mark image for toggling. Use %s to toggle between marked and current image	标记该图片。使用 %s 来在标记图片和当前图片之间切换
Saturation	饱和度
Unsharp mask...	USM 增加清晰度
Apply Unsharp Mask	套用“USM 增加清晰度”
Radius	半径
Amount	数量
Threshold	阈值
Apply	套用
Cancel	取消
Keep processing parameters between images	保持相邻的两图片间的处理参数
Show histogram	显示曲线图
Hide histogram	隐藏曲线图
Crop Selection Lossless...	无损裁剪所选区域...
Save cropped image	保存裁剪后的图片
Rotate image by user-defined angle	以用户定义的角度旋转图片
Rotate Image	旋转图片
Show grid lines	显示网格
Auto crop rotated image (avoids black border)	自动裁剪旋转后的图片 (避免黑边框)
Align image to horizontal or vertical line	图片水平线或垂直线对齐
Use the mouse to draw a line that shall be horizontal or vertical.	使用鼠标来画一条线，将作为水平线或垂直线。
Rotate the image by dragging with the mouse.	使用鼠标拖动来旋转图片。
The operation failed because not enough memory is available!	操作失败，因为没有足够的可用内存!
to EXIF date (all files in folder)	为 EXIF 日期 (该文件夹中的所有文件)
Number of JPEG files in folder: %d	该文件夹中的 JPEG 文件数量: %d
EXIF date successfully set on %d images, failed on %d images	%d 个图片的 EXIF 日期设置成功，%d 个图片失败
Reason: Not enough memory available	原因: 没有足够的可用内存
Transform image	转换图片
Rotate...	旋转... 
Mirror horizontally	水平翻转
Mirror vertically	垂直翻转
Random	随机
Zoom mode (drag mouse to zoom)	缩放模式 (拖动鼠标来缩放)
Correct converging lines (perspective correction)	正确的汇合线 (透视校正)
Perspective Correction	透视校正
Perspective correction...	透视校正...
Auto crop corrected image (avoids black border)	自动裁剪校正后的图片 (避免黑边框)
Click and drag the mouse vertically to correct image tilt.	点选并垂直拖动鼠标来校正图片倾斜。
Drag at the left or right border for asymmetric correction.	如要非对称校正请拖动左边或右边的边框。
Fit window to image	始终为图片大小
Keep aspect ratio on crop	按比例裁剪
Lossless JPEG transformations	无损 JPEG 转换
Performing the lossless transformation failed!	执行无损转换失败!
Image width and height must be dividable by the JPEG block size (8 or 16) for lossless transformations!	无损转换的图片的宽度和高度必须可被 JPEG 区块大小 (8 或 16) 整除!
Reading the JPEG file from disk failed	从硬盘读取 JPEG 文件失败
Writing the resulting JPEG file to disk failed	创建的 JPEG 文件写入到硬盘时失败
Performing the transformation failed	执行转换失败
The transformation can be applied if the image is trimmed to the next matching size but this will remove some border pixels.	假如图片被裁剪，可以套用到下一张符合的大小，但是这将消除一些边框像素的转换。
Trim the image and apply transformation? Trimming cannot be undone!	是否裁切图片并套用转换? 裁剪不能被复原!
Note: Set the key 'TrimWithoutPromptLosslessJPEG=true' in the INI file to always trim without showing this message.	注意: 在 INI 文件中设置“TrimWithoutPromptLosslessJPEG=true”以便总是修剪而不显示此消息。
Transition Effect	转场效果
None	无
Blend	混合
Slide from right	从右滑动
Slide from left	从左滑动
Slide from top	从上滑动
Slide from bottom	从下滑动
Roll from right	从右卷动
Roll from left	从左卷动
Roll from top	从上卷动
Roll from bottom	从下卷动
Scroll from right	从右滚动
Scroll from left	从左滚动
Scroll from top	从上滚动
Scroll from bottom	从下滚动
Transition Speed	转场速度
Very fast	非常快
Fast	快
Normal	一般
Slow	慢
Very slow	非常慢
Error	错误
Warning	警告
Error while writing the following registry key:	写入以下注册表键值时发生错误:
Set association format	关联常见图片格式
Set as default viewer	设为默认照片查看器
Set 360AblumViewer as default image viewer	将 360看图 设为默认图片查看器
360AblumViewer is registered as default viewer for the selected file formats.	勾选的文件格式会设置 360看图 为默认图片查看器。
Registration applies to the current user only.	注册仅对当前用户生效。
Extension	后缀名
File type	文件类型
The following file extensions cannot be unregistered because they have been registered in the 'local machine' registry area.	不能注册以下文件后缀名，因为在“本机”注册表区域中已注册它们。
Registering or unregistering file extensions in this registry area requires administration privileges and cannot be done in 360AblumViewer.	在注册表区域注册或取消注册文件后缀名需要管理权限，不能在 360看图 中完成。
Press 'OK' to continue with registration or 'Cancel' to not modify any registrations.	按下“确定”继续注册或按下“取消”不修改任何注册表内容。
Unregistering not possible	不能取消注册
%s images	%s 图片
%s images (processed by Window Imaging Component - WIC)	%s 图片 (由 Window 图片组件 - WIC 处理)
%s camera raw images (embedded JPEGs only)	%s 相机原始图片 (仅嵌入式 JPEG)
The following image extensions are protected by the operating system.	以下图片后缀名被操作系统保护。
360AblumViewer can try to remove the restrictions automatically.	360看图 可以自动地尝试移除限制。
However this will fail if the current user has no administration privileges.	但是，如果当前用户没有管理员权限，本操作将失败。
Insufficient rights to remove the restrictions. Continue?	权限不足。是否继续?
No image loaded!	未载入图片!
Right mouse button: Context menu	鼠标右键: 菜单
Windows 8 blocks 360AblumViewer from changing the default program for these file endings.	Windows 8 封锁 360看图 对这些文件后缀名变更为默认程序。
Use the 'Default Programs' configuration dialog from the operating system instead.	使用操作系统的“默认程序”对话框替代。
Alternatively, right click an image file of the given type in Windows Explorer and select 'Open with... > Choose default program'	或者，在 Windows 资源管理器中在指定类型的图片文件上点击鼠标右键并选择“打开方式... > 选择默认程序”。
User commands	用户指令
Open image with	打开方式
Manage 'Open image with' menu...	管理“打开方式”菜单...
Menu entries:	菜单项:
Title:	标题:
Application:	应用程序:
Shortcut key:	快捷键:
Browse...	浏览...
New	新增
Delete	删除
Modifier keys:	复合按键:
Known keys:	已知按键:
Combine keys with '+'	与 '+' 组合按键
Example:	范例:
Shortcut Help	捷径说明
[new entry]	[新增项目]
Applications	应用程序
Select application	选择应用程序
Save	保存
Edit	编辑
Upcounting	加计数
Downcounting	减计数
File size	文件大小
Do you really want to delete the current image file on disk?	确定要把该图片放入回收站吗?
Delete image file	删除图片文件
Change size...	变更大小...
Resize Image	重新调整图片大小
OK	确定
New size:	新的大小:
New width:	新的宽度:
New height:	新的高度:
Filter:	过滤器:
Box	方框
Lanczos/Bicubic	Lanczos/Bicubic
Sharpen low	轻度增加清晰度
Sharpen medium	中度增加清晰度
The new size is too large - width or height is larger than 65535 or total number of pixels is too large!	新的图片大小太大 - 宽度或高度大于 65536 或是总像素数太大!
360AblumViewer is a lean, fast and highly configurable viewer/editor for JPEG, BMP, PNG, WEBP, TGA, GIF and TIFF images with a minimal GUI.	360看图 是一款实用、快速及具有高度组态性的检视器/编辑器，使用最小的图形用户界面，适用于 JPEG、BMP、PNG、WEBP、TGA、GIF 和 TIFF 图片。
Set as desktop wallpaper	设为壁纸
Use original image	设置为桌面背景
Use processed image as displayed	设置显示的图片为桌面背景
Play/stop slide show mode	放映/停止幻灯片
Stop slide show mode	停止播放幻灯片
Print image...	打印...
Print Image	打印图片
Print	打印
360AblumViewer program	图片查看器
Select Printer...	选择打印机...
Printer:	打印机：
Paper:	纸张：
Source:	来源：
Orientation:	方向：
Size:	大小：
Fit to paper	平铺
Fill paper with crop	原始大小
Scaling mode:	缩放模式：
Printer driver	跟随打印机
Alignment:	对齐方式：
Margins:	间隔：
Left	左
Right	右
Top	上
Bottom	下
in	英寸
cm	厘米
Portrait	纵向
Landscape	横向
Save to 360 cloud safe	保存到360安全云盘
